body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#game {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#game:not(.active) {
    display: none;
}

#invitation {
    padding: 2rem;
    font-family: 'Press Start 2P', system-ui;
    color: #fff;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000;
    font-size: clamp(1rem, 2vw, 1.8rem);
    box-sizing: border-box;
    width: clamp(390px, 70vw, 1020px);

    section:not(:last-child) {
        margin-bottom: clamp(1rem, 5vw, 4rem);
    }

    h1 {
        font-size: clamp(3rem, 10vw, 9rem);
        margin: 0 0 clamp(0.2em, calc(9rem - 1em), 0.5em) 0;
    }

    h2 {
        font-size: clamp(2rem, 3vw, 3rem);
        margin: 0 0 clamp(0.25em, 1em, 0.6em) 0;
    }

    p,
    ul {
        line-height: 1.35em;
        margin: 0 0 clamp(1rem, 2vw, 2rem) 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 0;
        display: grid;
        gap: 1em;
        grid-template-columns: 5em auto;
        margin-bottom: 0.25em;
    }
}

canvas {
    display: block;
    border: 2px solid #444;
    border-radius: 5px;
}
